.grid__grid{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.grid__box{
    background-color: #FFFFFF;
    margin-bottom: 32px;
}
.grid__box:nth-child(2n+1){
    margin-right: 16px;
}
.grid__skill{
    margin: 120px 0 0 15px;

}
.grid__text{
    margin: 8px 0 0 15px;
    font-weight: 700;
}

.fa-brands{
    font-size:36px;
    color: #000000;
}

@media screen and (min-width : 768px ){
    
    .container{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .grid{
        height: 250px;
    }

    .grid__grid{
        height: 130px;
        grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66% ;
    }
    .grid__box:nth-child(1n+1){
        margin-right: 16px;
    }
    
}