.menu__list{
    display: none;
    color:white;
}

.menu__item a{
    color: white;
    font-weight: bold;
}

.menu__item a:hover{
    background-color:white;
    border-radius: 10px;
    color: #1C1C1C;
    padding: 5px;
    
}


@media screen and (min-width: 768px){
    .menu__list{
        display: flex;
    }
    .menu__item{
        
        list-style: none;
        margin: 1rem;
        font-size: 1rem;
    }
    .menu__item a{
        text-decoration: none;
    }
        
    
}
