.skills__container{
    height: 200px;
    margin: 2em 0;
}
.skills__grid{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%  ;
    justify-content:center;
    justify-items: center;
}
.skills__{
    padding : 16px;
    text-align: center;
}
.skills__box{
    border : 0 50% 0 50%;
    background-color:white;
    border-radius: 20%;
    height: 115px;
    width: 115px;
}
@media screen and ( min-width: 768px) {
    .skills{
        height: 250px;
    }
}