body{
    font-family: Raleway, sans-serif;
    /*background-color: #e5e5e5;*/
    background-color: #000000;
}
h2{
    color: white;
}

section:nth-child(1n+2){
    padding : 0 16px;
}

@media screen and (min-width: 768px){
    section:nth-child(1n+2){
        padding : 0 34px;
    }
}

@media screen and ( min-width : 1024px ) {
    section:nth-child(1n+2){
        padding : 0;
    }
    body {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}