.works__title{
    text-align: center;
}
.works__text{
    font-weight: 600;
    margin: 10px;
    text-align: center;

}
.works__img{
    width: 100%;
}
.works__subtitle{
    width: 300px;
}
.works__buttons{
    background-color: #F5F5F5;
    color: #2A7AE4;
    border-color: #2A7AE4;
    width: 130px;
    height: 40px;
    
}
.works__buttons:last-child{
    background-color:  #2A7AE4;
    color: #FFFFFF;
}

@media screen and ( min-width : 768px ) {
    .works__img{
        width: 100%;
    }
    .works__subtitle{
        font-size: 1.3rem;
        weight: 500;
    }
    .works__buttons{
        width: 130px;
        height: 40px;
        
    }
}