.works__title{
    text-align: center;
}
.works__text{
    color: white;
    font-weight: 600;
    margin: 10px;
    text-align: center;

}
.works__img{
    width: 100%;
}
.works__subtitle{
    color: white;
    width: 300px;
}
.works__buttons{
    background-color:  white;
    border-color: white;
    border-radius: 10px;
    font-weight: bold;
    height: 40px;
    margin-bottom: 32px;
    
}
.works__buttons:hover{
    background-color:  black;
    border-color: black;
    color: white;
}
/*.works__buttons:last-child{
    background-color: #FFFFFF;
    color: #FFFFFF;
}*/

@media screen and ( min-width : 768px ) {
    .works__img{
        width: 100%;
    }
    .works__subtitle{
        font-size: 1.3rem;
        height: 500;
    }
    .works__buttons{
        width: 130px;
        height: 40px;
        
    }
}